/*
 * Natrix CSS
 * A lightweight, plug-and-play CSS framework
 * https://github.com/celionatti/natrix
 */

/* Core */
@import url('./base/variables.css');
@import url('./base/reset.css');
@import url('./base/backgrounds.css');

/* Typography */
@import url('./base/typography.css');

/* Components */
@import url('./components/navbar.css');
@import url('./components/buttons.css');
@import url('./components/footer.css');
@import url('./components/forms.css');
@import url('./components/tables.css');
@import url('./components/cards.css');
@import url('./components/modals.css');
@import url('./components/alerts.css');
@import url('./components/pagination.css');
@import url('./components/breadcrumbs.css');
@import url('./components/tooltips.css');
@import url('./components/progress.css');
@import url('./components/avatars.css');

/* Layout */
@import url('./layout/flex.css');
@import url('./layout/grid.css');
@import url('./layout/container-queries.css');

/* Utilities */
@import url('./utilities/containers.css');
@import url('./utilities/effects.css');
@import url('./utilities/spacing.css');
@import url('./utilities/colors.css');
@import url('./utilities/utilities.css');