/*
 * Natrix CSS - Flexbox
 * Flexbox utility classes
 */

/* ========== FLEX CONTAINER ========== */
.d-flex,
.flex {
    display: flex;
}

.d-inline-flex,
.inline-flex {
    display: inline-flex;
}

/* ========== FLEX DIRECTION ========== */
.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column,
.flex-col {
    flex-direction: column;
}

.flex-column-reverse,
.flex-col-reverse {
    flex-direction: column-reverse;
}

/* ========== FLEX WRAP ========== */
.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

/* ========== JUSTIFY CONTENT ========== */
.justify-content-start,
.justify-start {
    justify-content: flex-start;
}

.justify-content-end,
.justify-end {
    justify-content: flex-end;
}

.justify-content-center,
.justify-center {
    justify-content: center;
}

.justify-content-between,
.justify-between {
    justify-content: space-between;
}

.justify-content-around,
.justify-around {
    justify-content: space-around;
}

.justify-content-evenly,
.justify-evenly {
    justify-content: space-evenly;
}

/* ========== ALIGN ITEMS ========== */
.align-items-start,
.items-start {
    align-items: flex-start;
}

.align-items-end,
.items-end {
    align-items: flex-end;
}

.align-items-center,
.items-center {
    align-items: center;
}

.align-items-baseline,
.items-baseline {
    align-items: baseline;
}

.align-items-stretch,
.items-stretch {
    align-items: stretch;
}

/* ========== ALIGN CONTENT ========== */
.align-content-start,
.content-start {
    align-content: flex-start;
}

.align-content-end,
.content-end {
    align-content: flex-end;
}

.align-content-center,
.content-center {
    align-content: center;
}

.align-content-between,
.content-between {
    align-content: space-between;
}

.align-content-around,
.content-around {
    align-content: space-around;
}

.align-content-evenly,
.content-evenly {
    align-content: space-evenly;
}

.align-content-stretch,
.content-stretch {
    align-content: stretch;
}

/* ========== ALIGN SELF ========== */
.self-auto {
    align-self: auto;
}

.self-start {
    align-self: flex-start;
}

.self-end {
    align-self: flex-end;
}

.self-center {
    align-self: center;
}

.self-baseline {
    align-self: baseline;
}

.self-stretch {
    align-self: stretch;
}

/* ========== FLEX GROW & SHRINK ========== */
.flex-1 {
    flex: 1 1 0%;
}

.flex-auto {
    flex: 1 1 auto;
}

.flex-initial {
    flex: 0 1 auto;
}

.flex-none {
    flex: none;
}

.grow {
    flex-grow: 1;
}

.grow-0 {
    flex-grow: 0;
}

.shrink {
    flex-shrink: 1;
}

.shrink-0 {
    flex-shrink: 0;
}

/* ========== FLEX BASIS ========== */
.basis-0 {
    flex-basis: 0px;
}

.basis-1 {
    flex-basis: 0.25rem;
}

.basis-2 {
    flex-basis: 0.5rem;
}

.basis-4 {
    flex-basis: 1rem;
}

.basis-8 {
    flex-basis: 2rem;
}

.basis-16 {
    flex-basis: 4rem;
}

.basis-32 {
    flex-basis: 8rem;
}

.basis-64 {
    flex-basis: 16rem;
}

.basis-auto {
    flex-basis: auto;
}

.basis-full {
    flex-basis: 100%;
}

.basis-1\/2 {
    flex-basis: 50%;
}

.basis-1\/3 {
    flex-basis: 33.333333%;
}

.basis-2\/3 {
    flex-basis: 66.666667%;
}

.basis-1\/4 {
    flex-basis: 25%;
}

.basis-3\/4 {
    flex-basis: 75%;
}

/* ========== COMMON LAYOUTS ========== */

/* Center everything */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Space between with center align */
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Stack vertically with gap */
.flex-stack {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

/* Inline items with gap */
.flex-inline {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2);
}

/* ========== RESPONSIVE FLEX ========== */
@media (min-width: 576px) {
    .flex-sm {
        display: flex;
    }

    .flex-sm-row {
        flex-direction: row;
    }

    .flex-sm-col {
        flex-direction: column;
    }

    .justify-sm-start {
        justify-content: flex-start;
    }

    .justify-sm-end {
        justify-content: flex-end;
    }

    .justify-sm-center {
        justify-content: center;
    }

    .justify-sm-between {
        justify-content: space-between;
    }

    .items-sm-start {
        align-items: flex-start;
    }

    .items-sm-end {
        align-items: flex-end;
    }

    .items-sm-center {
        align-items: center;
    }
}

@media (min-width: 768px) {
    .flex-md {
        display: flex;
    }

    .flex-md-row {
        flex-direction: row;
    }

    .flex-md-col {
        flex-direction: column;
    }

    .justify-md-start {
        justify-content: flex-start;
    }

    .justify-md-end {
        justify-content: flex-end;
    }

    .justify-md-center {
        justify-content: center;
    }

    .justify-md-between {
        justify-content: space-between;
    }

    .items-md-start {
        align-items: flex-start;
    }

    .items-md-end {
        align-items: flex-end;
    }

    .items-md-center {
        align-items: center;
    }
}

@media (min-width: 992px) {
    .flex-lg {
        display: flex;
    }

    .flex-lg-row {
        flex-direction: row;
    }

    .flex-lg-col {
        flex-direction: column;
    }

    .justify-lg-start {
        justify-content: flex-start;
    }

    .justify-lg-end {
        justify-content: flex-end;
    }

    .justify-lg-center {
        justify-content: center;
    }

    .justify-lg-between {
        justify-content: space-between;
    }

    .items-lg-start {
        align-items: flex-start;
    }

    .items-lg-end {
        align-items: flex-end;
    }

    .items-lg-center {
        align-items: center;
    }
}

@media (min-width: 1200px) {
    .flex-xl {
        display: flex;
    }

    .flex-xl-row {
        flex-direction: row;
    }

    .flex-xl-col {
        flex-direction: column;
    }
}